TOKEN = "" # enter your bot token here
PREFIX = "" # enter your preferred command prefix
STATUS_TYPE = "" # you can set it to streaming/playing/listening/watching
STATUS_NAME = "" # you can also put the status name
STATUS_URL = "" # this is only for streaming status! you can ignore it if you don't use it.
